// Primitive colors

/** @color Orange 1 */
$orange-1: #f5a623 !default;

/** @color Orange 2 */
$orange-2: #ffd275 !default;

/** @color Orange 3 */
$orange-3: #fff1d4 !default;

/** @color Gray 1 */
$gray-1: #333333 !default;

/** @color Gray 2 */
$gray-2: #888888 !default;

/** @color Gray 3 */
$gray-3: #b7b7b7 !default;

/** @color Gray 4 */
$gray-4: #d8d8d8 !default;

/** @color Gray 5 */
$gray-5: #f1f1f1 !default;


// Key colors

$primary: $orange-1 !default;