@import '../_variables';

/**
 * @atom Button
 * @section Buttons
 * @description
 *  Buttons for various purposes.
 * @markup
 *   <button class="button">Button</button>
 *   <button class="button button--primary">Primary</button>
 *   <button class="button button--primary-invert">Invert</button>
 */
.button {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    appearance: none;
    box-sizing: border-box;

    &--primary {
        border-color: $orange-1;
        background: $orange-1;
        color: #fff;
    }

    &--primary-invert {
        border-color: $orange-1;
        background: #fff;
        color: $orange-1;
    }
}
