@import '../_variables';

/**
 * @atom Round Input
 * @section Specifics
 * @description
 *  Title logo.
 * @markup
 *   <div class="round-input">
 *     <input class="round-input-input" type="text">
 *     <div class="round-input-icon"></div>
 *   </div>
 *
 *   <div class="round-input round-input--primary">
 *     <input class="round-input-input" type="text">
 *     <div class="round-input-icon"></div>
 *   </div>
 */
.round-input {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $gray-4;
    border-radius: 9999px;
    box-sizing: border-box;
    overflow: hidden;

    &--primary {
        background: $orange-3;
        color: $orange-1;
    }
}

.round-input-input {
    padding: 10px 15px;
    border: none;
    background: none;
    line-height: 30px;
    font-size: 15px;

    &:focus {
        outline: 0;
    }
}
