@import '../_variables';

/*
@styleguide

## Avatar

Display user avatar.

<div class="Avatar Avatar--small">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>
<div class="Avatar Avatar">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>
<div class="Avatar Avatar--large">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>

```
<div class="Avatar Avatar--small">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>
<div class="Avatar">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>
<div class="Avatar Avatar--large">
    <img class="Avatar-image" src="http://fakeimg.pl/300/">
</div>
```
*/
.Avatar {
    display: inline-block;
    overflow: hidden;
    width: 65px;
    height: 65px;
    border-radius: 100%;

    &--small {
        width: 46px;
        height: 46px;
    }

    &--large {
        width: 80px;
        height: 80px;
    }
}

.Avatar-image {
    max-width: 100%;
}
