@import '../_variables';

.Button {
    display: inline-block;
    min-width: 80px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    font-weight: normal;
    font-size: 15px;
    vertical-align: top;
    cursor: pointer;
    appearance: none;

    &--primary {
        border-color: $orange-1;
        background: $orange-1;
        color: #fff;
    }

    &--primaryInvert {
        border-color: $orange-1;
        background: #fff;
        color: $orange-1;
    }
}
