@import '../_variables';

/*
@styleguide

## Panel

Content container with optional title.

<div class="Panel">
    <div class="Panel-title">Panel title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>
<div style="margin-top: 30px;"></div>
<div class="Panel">
    <div class="Panel-title Panel-title--bold">Bold title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>
<div style="margin-top: 30px;"></div>
<div class="Panel">
    <div class="Panel-title Panel-title--jumbo">Jumbo title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>

```
<div class="Panel">
    <div class="Panel-title">Panel title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>
<div style="margin-top: 30px;"></div>
<div class="Panel">
    <div class="Panel-title Panel-title--bold">Bold title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>
<div style="margin-top: 30px;"></div>
<div class="Panel">
    <div class="Panel-title Panel-title--jumbo">Jumbo title</div>
    <div class="u-textCenter">
        Contents here.
    </div>
</div>
```
*/
.Panel {
    display: block;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 2px rgba(30, 30, 30, 0.3);
}

.Panel-title {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid $gray-5;
    text-align: center;
    font-weight: normal;

    &--bold {
        font-weight: bold;
    }

    &--jumbo {
        border-bottom: 2px solid $primary;
        font-size: 20px;
    }
}
