@import '../_variables';

/*
@styleguide

## Round Input

Input form with rounded corner style.

<div class="RoundInput">
    <input class="RoundInput-input" type="text" placeholder="Search...">
    <div class="RoundInput-icon"></div>
</div>
<div class="RoundInput RoundInput--primary">
    <input class="RoundInput-input" type="text" placeholder="Primary style...">
    <div class="RoundInput-icon"></div>
</div>

```
<div class="RoundInput">
    <input class="RoundInput-input" type="text" placeholder="Search...">
    <div class="RoundInput-icon"></div>
</div>
<div class="RoundInput RoundInput--primary">
    <input class="RoundInput-input" type="text" placeholder="Primary style...">
    <div class="RoundInput-icon"></div>
</div>
```
*/
.RoundInput {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 1px solid $gray-4;
    border-radius: 9999px;
    box-sizing: border-box;
    vertical-align: top;
    color: $gray-1;

    &--primary {
        border: 1px solid $orange-3;
        background: $orange-3;
        color: $orange-1;
    }
}

.RoundInput-input {
    padding: 6px 20px;
    border: none;
    background: none;
    color: inherit;
    line-height: 30px;
    font-size: 15px;

    &:focus {
        outline: 0;
    }

    &::placeholder {
        line-height: 30px;
        color: $gray-2;
    }

    .RoundInput--primary &::placeholder {
        color: $primary;
    }
}
