@import '../_variables';

/*
@styleguide

## Stats Card

Card for user stats.

<div class="Panel">
    <div class="StatsCard">
        <div class="StatsCard-summary">
            <div class="StatsCard-avatar">
                <div class="Avatar Avatar--large">
                    <img class="Avatar-image" src="http://fakeimg.pl/300/">
                </div>
            </div>
            <div>
                <div class="StatsCard-fullname">full name</div>
                <div class="StatsCard-username">@user_name</div>
            </div>
        </div>
        <div class="StatsCard-stats">
            <div class="StatsCard-stat">
                <div class="StatsCard-statLabel">stat label</div>
                <div class="StatsCard-statValue">stat value</div>
            </div>
        </div>
    </div>
</div>

```
<div class="Panel">
    <div class="StatsCard">
        <div class="StatsCard-summary">
            <div class="StatsCard-avatar">
                <div class="Avatar Avatar--large">
                    <img class="Avatar-image" src="http://fakeimg.pl/300/">
                </div>
            </div>
            <div>
                <div class="StatsCard-fullname">Full name</div>
                <div class="StatsCard-username">@user_name</div>
            </div>
        </div>
        <div class="StatsCard-stats">
            <div class="StatsCard-stat">
                <div class="StatsCard-statLabel">Stat label</div>
                <div class="StatsCard-statValue">Stat value</div>
            </div>
        </div>
    </div>
</div>
```
*/
.StatsCard {

}

.StatsCard-summary {
    display: flex;
    align-items: center;
    padding: 20px;
}

.StatsCard-avatar {
    margin-right: 15px;
}

.StatsCard-fullname {
    margin: 0;
    font-size: 20px;
}

.StatsCard-username {
    margin: 0;
    margin-top: 5px;
}

.StatsCard-stats {
    border-top: 1px solid $gray-5;
}

.StatsCard-stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    & + & {
        border-top: 1px solid $gray-5;
    }
}

.StatsCard-statLabel {
    color: $gray-3;
}

.StatsCard-statValue {
    color: $primary;
    font-size: 24px;
}
