@import '../_variables';

/*
@styleguide

## Tweet

Tweet message container.

<div class="Panel">
    <div class="Tweet">
        <div class="Tweet-tweeterAvatar">
            <div class="Avatar Avatar--large">
                <img class="Avatar-image" src="http://fakeimg.pl/300/">
            </div>
        </div>
        <div class="Tweet-content">
            <div class="Tweet-tweeterMeta">
                <div class="Tweet-tweeterFullname">full name</div>
                <div class="Tweet-tweeterUsername">@user_name</div>
            </div>
            <div class="Tweet-text">
                <p>Hey, I'm tweeting!!</p>
            </div>
            <div class="Tweet-footer">
                <div class="Tweet-actions">
                    <div class="Tweet-action">
                        999
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

```
<div class="Tweet">
    <div class="Tweet-tweeterAvatar">
        <div class="Avatar Avatar--large">
            <img class="Avatar-image" src="http://fakeimg.pl/300/">
        </div>
    </div>
    <div class="Tweet-content">
        <div class="Tweet-tweeterMeta">
            <div class="Tweet-tweeterFullname">full name</div>
            <div class="Tweet-tweeterUsername">@user_name</div>
        </div>
        <div class="Tweet-text">
            <p>Hey, I'm tweeting!!</p>
        </div>
        <div class="Tweet-footer">
            <div class="Tweet-actions">
                <div class="Tweet-action">
                    999
                </div>
            </div>
        </div>
    </div>
</div>
```
*/
.Tweet {
    display: flex;
    padding: 20px;
    padding-right: 36px;
    padding-bottom: 16px;
}

.Tweet-tweeterAvatar {
    margin-right: 20px;
}

.Tweet-content {
    flex: 1 1 0%;
    padding-top: 12px;
}

.Tweet-tweeterMeta {
    display: flex;
    align-items: center;
}

.Tweet-tweeterFullname {
    margin: 0;
    color: $primary;
    font-size: 20px;
}

.Tweet-tweeterUsername {
    margin: 0;
    margin-left: 10px;
    color: $gray-3;
}

.Tweet-text {
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
}

.Tweet-footer {
    display: flex;
    margin-top: 10px;
}

.Tweet-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.Tweet-action {
    display: flex;
    align-items: center;
    color: $gray-3;
}
