@import '../_variables';

/*
@styleguide

## Tweet Post

Tweet post that user can tweet.

<div class="Panel">
    <div class="TweetPost">
        <div class="TweetPost-Msg">
            <textarea class="TweetPost-textarea"></textarea>
        </div>
        <div class="TweetPost-footer">
            <div class="TweetPost-counter">0/999</div>
            <div class="TweetPost-action">
                <button class="Button Button--primary">Tweet</button>
            </div>
        </div>
    </div>
</div>

```
<div class="Panel">
    <div class="TweetPost">
        <div class="TweetPost-Msg">
            <textarea class="TweetPost-textarea"></textarea>
        </div>
        <div class="TweetPost-footer">
            <div class="TweetPost-counter">0/999</div>
            <div class="TweetPost-action">
                <button class="Button Button--primary">Tweet</button>
            </div>
        </div>
    </div>
</div>
```
*/
.TweetPost {
    padding: 20px 20px 15px;
}

.TweetPost-Msg {
}

.TweetPost-textarea {
    $line-height: 28px;

    width: calc(100% - 40px);
    min-height: $line-height * 3;
    padding: 10px 20px;
    border: 1px solid $gray-4;
    border-radius: 3px;
    font-size: 16px;
    line-height: $line-height;
    resize: vertical;
}

.TweetPost-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.TweetPost-counter {
    margin: 0 12px;
    color: $gray-4;
}
