/** @color Orange 1 */
/** @color Orange 2 */
/** @color Orange 3 */
/** @color Gray 1 */
/** @color Gray 2 */
/** @color Gray 3 */
/** @color Gray 4 */
/** @color Gray 5 */
.base {
  background: #ffd275;
  color: #333333; }

.page-wrapper {
  width: 1024px;
  margin: 0 auto;
  padding-top: 100px; }

.flex {
  display: flex; }

.sidebar {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px; }

.sidebar .Panel {
  margin-bottom: 20px; }

.main {
  flex: 1 1 0%; }

.main .Panel {
  margin-bottom: 20px; }

.follow-list {
  display: flex;
  flex-wrap: wrap; }

.follow-list-item {
  max-width: 50%;
  flex-basis: 50%; }

.text-gray {
  color: #888888; }

.text-primary {
  color: #f5a623; }

.text-white {
  color: #fff; }

.text-black {
  color: #333333; }

.bg-primary {
  background-color: #f5a623; }

.bg-white {
  background-color: #fff; }

.u-textBold {
  font-weight: bold; }

.u-textLight {
  font-weight: light; }

.u-textCenter {
  text-align: center; }

.u-padding {
  padding: 15px; }

.GlobalHeader {
  position: fixed;
  width: 100%;
  padding: 11px 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(30, 30, 30, 0.3); }

.GlobalHeader-content {
  display: flex;
  align-items: center;
  width: 1024px;
  margin: 0 auto; }

.GlobalHeader-logo {
  margin-right: auto; }

.GlobalHeader-avatar {
  margin-left: 30px; }

.GlobalHeader-actions {
  display: flex;
  align-items: center;
  margin-left: 15px; }

.GlobalHeader-action + .GlobalHeader-action {
  margin-left: 10px; }

.Panel {
  display: block;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 2px rgba(30, 30, 30, 0.3); }

.Panel-title {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
  text-align: center; }

.Panel-title--bold {
  font-weight: bold; }

.Panel-title--jumbo {
  border-bottom: 2px solid #f5a623;
  font-size: 20px; }

.SummaryCard {
  display: flex;
  padding: 16px; }

.SummaryCard-avatar {
  margin-right: 15px; }

.SummaryCard-meta {
  flex: 1 1 auto; }

.SummaryCard-fullname {
  color: #f5a623;
  font-size: 15px; }

.SummaryCard-username {
  margin-top: 5px; }

.SummaryCard-actions {
  margin-top: 10px; }

.Logo {
  font-size: 28px;
  font-weight: bold; }

.Divider {
  border-top: 1px solid #f1f1f1; }

.RoundInput {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: 1px solid #d8d8d8;
  border-radius: 9999px;
  box-sizing: border-box;
  vertical-align: top;
  color: #333333; }

.RoundInput::placeholder {
  color: #f5a623; }

.RoundInput--primary {
  border: none;
  background: #fff1d4;
  color: #f5a623; }

.RoundInput-input {
  padding: 6px 20px;
  border: none;
  background: none;
  color: inherit;
  line-height: 30px;
  font-size: 15px; }

.RoundInput-input:focus {
  outline: 0; }

.Avatar {
  display: inline-block;
  overflow: hidden;
  width: 65px;
  height: 65px;
  border-radius: 100%; }

.Avatar--small {
  width: 46px;
  height: 46px; }

.Avatar--large {
  width: 80px;
  height: 80px; }

.Avatar-image {
  max-width: 100%; }

.Button {
  display: inline-block;
  min-width: 80px;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  font-weight: normal;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
  appearance: none; }

.Button--primary {
  border-color: #f5a623;
  background: #f5a623;
  color: #fff; }

.Button--primaryInvert {
  border-color: #f5a623;
  background: #fff;
  color: #f5a623; }

.StatsCard-summary {
  display: flex;
  align-items: center;
  padding: 20px; }

.StatsCard-avatar {
  margin-right: 15px; }

.StatsCard-fullname {
  font-size: 20px; }

.StatsCard-username {
  margin-top: 5px; }

.StatsCard-stats {
  border-top: 1px solid #f1f1f1; }

.StatsCard-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; }

.StatsCard-stat + .StatsCard-stat {
  border-top: 1px solid #f1f1f1; }

.StatsCard-statLabel {
  color: #b7b7b7; }

.StatsCard-statValue {
  color: #f5a623;
  font-size: 24px; }

.TweetPost {
  padding: 20px 20px 15px; }

.TweetPost-textarea {
  width: calc(100% - 40px);
  min-height: 84px;
  padding: 10px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-size: 16px;
  line-height: 28px;
  resize: vertical; }

.TweetPost-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px; }

.TweetPost-counter {
  margin: 0 12px;
  color: #d8d8d8; }

.Tweet {
  display: flex;
  padding: 20px;
  padding-right: 36px;
  padding-bottom: 16px; }

.Tweet-tweeterAvatar {
  margin-right: 20px; }

.Tweet-content {
  padding-top: 12px; }

.Tweet-tweeterMeta {
  display: flex;
  align-items: center; }

.Tweet-tweeterFullname {
  color: #f5a623;
  font-size: 20px; }

.Tweet-tweeterUsername {
  margin-left: 10px;
  color: #b7b7b7; }

.Tweet-text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px; }

.Tweet-footer {
  display: flex;
  margin-top: 10px; }

.Tweet-actions {
  display: flex;
  align-items: center;
  margin-left: auto; }

.Tweet-action {
  color: #b7b7b7; }
